<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Employee</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Update Employee</h1>
        <form method="POST">
            <input type="text" name="full_name" value="{{ employee[1] }}" required>
            <input type="number" name="age" value="{{ employee[2] }}" required>
            <input type="email" name="email" value="{{ employee[3] }}" required>
            <input type="text" name="phone" value="{{ employee[4] }}" required>
            <input type="text" name="department" value="{{ employee[5] }}" required>
            <input type="number" name="salary" value="{{ employee[6] }}" required>
            <input type="date" name="joining_date" value="{{ employee[7] }}" required>
            <button type="submit" class="btn">Update Employee</button>
        </form>
        <a href="/view" class="btn">Back</a>
    </div>
</body>
</html>